In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

types = ["Initial", "Final"]
models = ["m1", "m2"]


model = "m2"
type1 = "Final"

In [2]:
ini_df = pd.read_csv(f"./CIS_662_{type1}_{model}.csv")
ini_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late
0,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN
1,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN
2,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN
3,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN
4,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN
5,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN
7,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN
8,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN
10,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN

In [3]:
# ini_m1_df = ini_df.iloc[::2]
# ini_m1_df.to_csv("./CIS_662_Initial_m1.csv", index=False)
# ini_m2_df = ini_df.iloc[1::2]
# ini_m2_df.to_csv("./CIS_662_Initial_m2.csv", index=False)

In [4]:
ini_df["scheduled_departure_time"] = ini_df["DATE"] + ' ' + ini_df["DEPARTURE TIME"]
ini_df["scheduled_arrival_time"] = ini_df["DATE"] + ' ' + ini_df["ARRIVAL TIME"]
ini_df["Carrier Code"] = ini_df["FLIGHT NUMBER"].apply(lambda x: x.split()[0])

In [5]:
ini_df["scheduled_arrival_time"] = pd.to_datetime(ini_df["scheduled_arrival_time"], infer_datetime_format=True)
ini_df["scheduled_departure_time"] = pd.to_datetime(ini_df["scheduled_departure_time"], infer_datetime_format=True)
ini_df

/var/folders/d0/d8qgs1qn1x5dwdq_9zy4q3rm0000gn/T/ipykernel_95142/1740006560.py:1: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ini_df["scheduled_arrival_time"] = pd.to_datetime(ini_df["scheduled_arrival_time"], infer_datetime_format=True)
/var/folders/d0/d8qgs1qn1x5dwdq_9zy4q3rm0000gn/T/ipykernel_95142/1740006560.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ini_df["scheduled_arrival_time"] = pd.to_datetime(ini_df["scheduled_arrival_time"], infer_datetime_format=True)
/var/folders/d0/d8qgs1qn1x5dwdq_9zy4q3rm0000gn/T/ipykernel_95142/1740006560.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  ini_df["scheduled_departure_time"] = pd.to_datetime(ini_df["scheduled_departure_time"], infer_datetime_format=True)
/var/folders/d0/d8qgs1qn1x5dwdq_9zy4q3rm0000gn/T/ipykernel_95142/1740006560.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ini_df["scheduled_departure_time"] = pd.to_datetime(ini_df["scheduled_departure_time"], infer_datetime_format=True)

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code
0,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA
1,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL
2,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6
3,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA
4,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL
5,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6
7,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN
8,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6
10,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN

In [6]:
if type1 == "Initial":
    syr_df = pd.read_csv("./data/modified/SYR_weather_data_forecast_i.csv")
    jfk_df = pd.read_csv("./data/modified/JFK_weather_data_forecast_i.csv")
    mco_df = pd.read_csv("./data/modified/MCO_weather_data_forecast_i.csv")
    ord_df = pd.read_csv("./data/modified/ORD_weather_data_forecast_i.csv")
elif type1 == "Final":
    syr_df = pd.read_csv("./data/modified/SYR_weather_data_forecast_f.csv")
    jfk_df = pd.read_csv("./data/modified/JFK_weather_data_forecast_f.csv")
    mco_df = pd.read_csv("./data/modified/MCO_weather_data_forecast_f.csv")
    ord_df = pd.read_csv("./data/modified/ORD_weather_data_forecast_f.csv")


weather_factors = ['app_temp', 'clouds', 'dewpt', 'pres', 'rh', 'temp', 'timestamp_local', 'uv', 'vis','weather.code', 'wind_dir', 'wind_gust_spd', 'wind_spd']

In [7]:
syr_df["timestamp_local"] == pd.to_datetime(syr_df["timestamp_local"])
jfk_df["timestamp_local"] == pd.to_datetime(jfk_df["timestamp_local"])
mco_df["timestamp_local"] == pd.to_datetime(mco_df["timestamp_local"])
ord_df["timestamp_local"] == pd.to_datetime(ord_df["timestamp_local"])
syr_df = syr_df[weather_factors].sort_values("timestamp_local")
jfk_df = jfk_df[weather_factors].sort_values("timestamp_local")
mco_df = mco_df[weather_factors].sort_values("timestamp_local")
ord_df = ord_df[weather_factors].sort_values("timestamp_local")

In [8]:
syr_df

,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd
0,16.7,58,5.0,1003.0,46,16.7,2024-04-08T21:00:00,0.0,42.176,803,160,3.60,2.40
1,11.5,30,1.4,1003.0,50,11.5,2024-04-08T22:00:00,0.0,37.184,802,180,3.20,2.40
2,10.7,22,2.3,1003.0,56,10.7,2024-04-08T23:00:00,0.0,35.072,802,180,3.20,2.40
3,9.9,18,2.0,1002.5,58,9.9,2024-04-09T00:00:00,0.0,34.080,801,170,3.20,2.40
4,9.2,13,2.5,1002.0,63,9.2,2024-04-09T01:00:00,0.0,30.992,801,160,3.20,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,9.5,69,-2.8,999.2,42,9.5,2024-04-24T16:00:00,5.0,20.512,802,281,5.66,5.66
332,8.5,70,-2.7,999.5,45,8.5,2024-04-24T17:00:00,1.3,18.704,802,293,5.66,5.66
333,8.1,69,-2.8,1000.7,46,8.1,2024-04-24T18:00:00,2.3,18.816,802,289,5.34,5.14
334,7.7,68,-2.9,1001.8,47,7.7,2024-04-24T19:00:00,1.8,18.928,802,285,7.08,5.14
335,2.8,66,-3.4,1003.0,51,6.0,2024-04-24T20:00:00,0.0,19.040,802,285,8.81,4.63

In [9]:
ini_df[ini_df["ORIGIN"]=="JFK"]

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code
1,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL
4,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6

In [10]:
syr_df["date_time_map"] = pd.to_datetime(syr_df["timestamp_local"])
jfk_df["date_time_map"] = pd.to_datetime(jfk_df["timestamp_local"])
mco_df["date_time_map"] = pd.to_datetime(mco_df["timestamp_local"])
ord_df["date_time_map"] = pd.to_datetime(ord_df["timestamp_local"])
syr_df
jfk_df
mco_df
ord_df

,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
0,18.8,6,8.5,988.0,49,19.5,2024-04-08T20:00:00,0.0,40.480,801,190,4.80,3.20,2024-04-08 20:00:00
1,16.3,17,6.1,989.5,51,16.3,2024-04-08T21:00:00,0.0,37.088,801,190,6.00,4.00,2024-04-08 21:00:00
2,15.5,53,5.4,989.0,51,15.5,2024-04-08T22:00:00,0.0,0.465,803,190,6.00,4.00,2024-04-08 22:00:00
3,14.7,20,5.2,989.0,53,14.7,2024-04-08T23:00:00,0.0,43.072,801,190,6.00,4.00,2024-04-08 23:00:00
4,14.0,53,5.3,988.5,56,14.0,2024-04-09T00:00:00,0.0,37.888,803,190,5.20,3.60,2024-04-09 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
331,15.3,58,1.8,996.3,40,15.3,2024-04-24T15:00:00,6.6,24.128,802,13,5.14,5.14,2024-04-24 15:00:00
332,14.9,59,1.8,996.0,41,14.9,2024-04-24T16:00:00,3.7,24.128,802,31,5.14,5.14,2024-04-24 16:00:00
333,13.6,59,1.3,996.3,43,13.6,2024-04-24T17:00:00,3.1,24.128,802,67,5.14,5.14,2024-04-24 17:00:00
334,10.7,61,-1.4,996.7,43,10.7,2024-04-24T18:00:00,2.1,24.128,802,63,5.14,5.14,2024-04-24 18:00:00
335,11.3,53,0.1,997.0,46,11.3,2024-04-24T19:00:00,1.1,24.128,802,81,5.14,5.14,2024-04-24 19:00:00

In [11]:
print(jfk_df.shape)
print(mco_df.shape)
print(ord_df.shape)
print(syr_df.shape)

(336, 14)
(336, 14)
(336, 14)
(336, 14)

In [12]:
ini_df["date_time"] = pd.to_datetime(ini_df["scheduled_arrival_time"])
ini_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time
0,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00
1,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00
2,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00
3,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00
4,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00
5,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00
7,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00
8,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00
10,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00

In [13]:
syr_w_merged_data = pd.merge_asof(ini_df.sort_values('date_time'),
                                       syr_df.sort_values('date_time_map'),
                                       left_on='date_time', right_on='date_time_map', direction='nearest')

syr_w_merged_data.head()

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
1,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
2,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00
3,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00
4,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00

In [14]:
syr_w_merged_data

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
1,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
2,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00
3,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00
4,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00
5,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00,10.7,56,-2.0,998.5,41,10.7,2024-04-21T14:00:00,4.6,24.128,803,280,9.50,6.33,2024-04-21 14:00:00
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00,10.2,50,-2.1,998.5,42,10.2,2024-04-21T15:00:00,4.0,24.128,803,280,9.20,6.08,2024-04-21 15:00:00
7,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00,3.5,14,-2.2,998.5,53,6.7,2024-04-21T22:00:00,0.0,24.128,801,270,7.56,4.82,2024-04-21 22:00:00
8,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00,14.2,18,-1.0,1000.0,35,14.2,2024-04-22T14:00:00,6.6,24.128,801,290,8.10,5.40,2024-04-22 14:00:00
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00,13.6,18,-0.8,1000.0,37,13.6,2024-04-22T15:00:00,5.5,24.128,801,295,7.76,5.14,2024-04-22 15:00:00
10,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00,6.0,45,-2.4,1001.2,52,6.8,2024-04-22T22:00:00,0.0,24.128,801,179,1.54,1.54,2024-04-22 22:00:00

In [15]:
jfk_departures_df = syr_w_merged_data[syr_w_merged_data["ORIGIN"]=="JFK"]
jfk_departures_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
3,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00,10.2,50,-2.1,998.5,42,10.2,2024-04-21T15:00:00,4.0,24.128,803,280,9.20,6.08,2024-04-21 15:00:00
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00,13.6,18,-0.8,1000.0,37,13.6,2024-04-22T15:00:00,5.5,24.128,801,295,7.76,5.14,2024-04-22 15:00:00

In [16]:
jfk_w_merged_data = pd.merge_asof(jfk_departures_df.sort_values('date_time'),
                                       jfk_df.sort_values('date_time_map'),
                                       left_on='date_time', right_on='date_time_map', direction='nearest')

jfk_w_merged_data.head()

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp_x,clouds_x,dewpt_x,pres_x,rh_x,temp_x,timestamp_local_x,uv_x,vis_x,weather.code_x,wind_dir_x,wind_gust_spd_x,wind_spd_x,date_time_map_x,app_temp_y,clouds_y,dewpt_y,pres_y,rh_y,temp_y,timestamp_local_y,uv_y,vis_y,weather.code_y,wind_dir_y,wind_gust_spd_y,wind_spd_y,date_time_map_y
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,11.3,92,5.4,1015.0,67,11.3,2024-04-19T16:00:00,1.6,24.128,804,126,7.06,4.80,2024-04-19 16:00:00
1,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00,16.0,64,4.1,1010.0,45,16.0,2024-04-20T16:00:00,2.4,24.128,803,273,8.63,5.86,2024-04-20 16:00:00
2,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00,10.2,50,-2.1,998.5,42,10.2,2024-04-21T15:00:00,4.0,24.128,803,280,9.20,6.08,2024-04-21 15:00:00,13.5,66,0.2,1012.5,40,13.5,2024-04-21T15:00:00,3.4,24.128,803,246,7.60,5.15,2024-04-21 15:00:00
3,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00,13.6,18,-0.8,1000.0,37,13.6,2024-04-22T15:00:00,5.5,24.128,801,295,7.76,5.14,2024-04-22 15:00:00,14.8,17,1.7,1013.2,41,14.8,2024-04-22T15:00:00,5.6,24.128,801,198,6.56,4.21,2024-04-22 15:00:00

In [17]:
mco_departures_df = syr_w_merged_data[syr_w_merged_data["ORIGIN"]=="MCO"]
mco_departures_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
1,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00
5,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00,10.7,56,-2.0,998.5,41,10.7,2024-04-21T14:00:00,4.6,24.128,803,280,9.50,6.33,2024-04-21 14:00:00
8,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00,14.2,18,-1.0,1000.0,35,14.2,2024-04-22T14:00:00,6.6,24.128,801,290,8.10,5.40,2024-04-22 14:00:00

In [18]:
mco_w_merged_data = pd.merge_asof(mco_departures_df.sort_values('date_time'),
                                       mco_df.sort_values('date_time_map'),
                                       left_on='date_time', right_on='date_time_map', direction='nearest')

mco_w_merged_data.head()

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp_x,clouds_x,dewpt_x,pres_x,rh_x,temp_x,timestamp_local_x,uv_x,vis_x,weather.code_x,wind_dir_x,wind_gust_spd_x,wind_spd_x,date_time_map_x,app_temp_y,clouds_y,dewpt_y,pres_y,rh_y,temp_y,timestamp_local_y,uv_y,vis_y,weather.code_y,wind_dir_y,wind_gust_spd_y,wind_spd_y,date_time_map_y
0,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,32.4,14,15.9,1011.0,37,32.5,2024-04-19T16:00:00,5.7,24.128,801,276,4.0,2.80,2024-04-19 16:00:00
1,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00,10.7,56,-2.0,998.5,41,10.7,2024-04-21T14:00:00,4.6,24.128,803,280,9.50,6.33,2024-04-21 14:00:00,32.3,12,17.0,1011.0,41,31.9,2024-04-21T14:00:00,9.5,24.128,801,230,8.3,5.53,2024-04-21 14:00:00
2,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00,14.2,18,-1.0,1000.0,35,14.2,2024-04-22T14:00:00,6.6,24.128,801,290,8.10,5.40,2024-04-22 14:00:00,30.4,36,19.3,1009.0,56,29.0,2024-04-22T14:00:00,7.8,24.128,802,260,9.7,6.20,2024-04-22 14:00:00

In [19]:
ord_departures_df = syr_w_merged_data[syr_w_merged_data["ORIGIN"]=="ORD"]
ord_departures_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp,clouds,dewpt,pres,rh,temp,timestamp_local,uv,vis,weather.code,wind_dir,wind_gust_spd,wind_spd,date_time_map
2,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00
4,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00
7,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00,3.5,14,-2.2,998.5,53,6.7,2024-04-21T22:00:00,0.0,24.128,801,270,7.56,4.82,2024-04-21 22:00:00
10,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00,6.0,45,-2.4,1001.2,52,6.8,2024-04-22T22:00:00,0.0,24.128,801,179,1.54,1.54,2024-04-22 22:00:00

In [20]:
ord_w_merged_data = pd.merge_asof(ord_departures_df.sort_values('date_time'),
                                       ord_df.sort_values('date_time_map'),
                                       left_on='date_time', right_on='date_time_map', direction='nearest')

ord_w_merged_data.head()

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp_x,clouds_x,dewpt_x,pres_x,rh_x,temp_x,timestamp_local_x,uv_x,vis_x,weather.code_x,wind_dir_x,wind_gust_spd_x,wind_spd_x,date_time_map_x,app_temp_y,clouds_y,dewpt_y,pres_y,rh_y,temp_y,timestamp_local_y,uv_y,vis_y,weather.code_y,wind_dir_y,wind_gust_spd_y,wind_spd_y,date_time_map_y
0,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00,9.3,50,-1.5,993.0,47,9.3,2024-04-19T23:00:00,0.0,24.128,803,280,6.0,4.00,2024-04-19 23:00:00
1,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00,3.6,51,-2.3,995.0,53,6.6,2024-04-20T23:00:00,0.0,24.128,803,313,6.6,4.53,2024-04-20 23:00:00
2,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00,3.5,14,-2.2,998.5,53,6.7,2024-04-21T22:00:00,0.0,24.128,801,270,7.56,4.82,2024-04-21 22:00:00,9.2,8,-0.9,993.0,49,9.2,2024-04-21T22:00:00,0.0,24.128,801,265,5.5,3.59,2024-04-21 22:00:00
3,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00,6.0,45,-2.4,1001.2,52,6.8,2024-04-22T22:00:00,0.0,24.128,801,179,1.54,1.54,2024-04-22 22:00:00,11.2,57,0.3,988.5,47,11.2,2024-04-22T22:00:00,0.0,24.128,802,163,7.7,4.12,2024-04-22 22:00:00

In [21]:
final_merged_df = pd.concat([jfk_w_merged_data, mco_w_merged_data, ord_w_merged_data]).sort_values("date_time_map_y").reset_index(drop=True)
final_merged_df

,DATE,DAY,FLIGHT NUMBER,ORIGIN,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp_x,clouds_x,dewpt_x,pres_x,rh_x,temp_x,timestamp_local_x,uv_x,vis_x,weather.code_x,wind_dir_x,wind_gust_spd_x,wind_spd_x,date_time_map_x,app_temp_y,clouds_y,dewpt_y,pres_y,rh_y,temp_y,timestamp_local_y,uv_y,vis_y,weather.code_y,wind_dir_y,wind_gust_spd_y,wind_spd_y,date_time_map_y
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,11.3,92,5.4,1015.0,67,11.3,2024-04-19T16:00:00,1.6,24.128,804,126,7.06,4.80,2024-04-19 16:00:00
1,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,32.4,14,15.9,1011.0,37,32.5,2024-04-19T16:00:00,5.7,24.128,801,276,4.00,2.80,2024-04-19 16:00:00
2,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00,9.3,50,-1.5,993.0,47,9.3,2024-04-19T23:00:00,0.0,24.128,803,280,6.00,4.00,2024-04-19 23:00:00
3,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00,16.0,64,4.1,1010.0,45,16.0,2024-04-20T16:00:00,2.4,24.128,803,273,8.63,5.86,2024-04-20 16:00:00
4,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00,3.6,51,-2.3,995.0,53,6.6,2024-04-20T23:00:00,0.0,24.128,803,313,6.60,4.53,2024-04-20 23:00:00
5,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00,10.7,56,-2.0,998.5,41,10.7,2024-04-21T14:00:00,4.6,24.128,803,280,9.50,6.33,2024-04-21 14:00:00,32.3,12,17.0,1011.0,41,31.9,2024-04-21T14:00:00,9.5,24.128,801,230,8.30,5.53,2024-04-21 14:00:00
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00,10.2,50,-2.1,998.5,42,10.2,2024-04-21T15:00:00,4.0,24.128,803,280,9.20,6.08,2024-04-21 15:00:00,13.5,66,0.2,1012.5,40,13.5,2024-04-21T15:00:00,3.4,24.128,803,246,7.60,5.15,2024-04-21 15:00:00
7,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00,3.5,14,-2.2,998.5,53,6.7,2024-04-21T22:00:00,0.0,24.128,801,270,7.56,4.82,2024-04-21 22:00:00,9.2,8,-0.9,993.0,49,9.2,2024-04-21T22:00:00,0.0,24.128,801,265,5.50,3.59,2024-04-21 22:00:00
8,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00,14.2,18,-1.0,1000.0,35,14.2,2024-04-22T14:00:00,6.6,24.128,801,290,8.10,5.40,2024-04-22 14:00:00,30.4,36,19.3,1009.0,56,29.0,2024-04-22T14:00:00,7.8,24.128,802,260,9.70,6.20,2024-04-22 14:00:00
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00,13.6,18,-0.8,1000.0,37,13.6,2024-04-22T15:00:00,5.5,24.128,801,295,7.76,5.14,2024-04-22 15:00:00,14.8,17,1.7,1013.2,41,14.8,2024-04-22T15:00:00,5.6,24.128,801,198,6.56,4.21,2024-04-22 15:00:00
10,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00,6.0,45,-2.4,1001.2,52,6.8,2024-04-22T22:00:00,0.0,24.128,801,179,1.54,1.54,2024-04-22 22:00:00,11.2,57,0.3,988.5,47,11.2,2024-04-22T22:00:00,0.0,24.128,802,163,7.70,4.12,2024-04-22 22:00:00

In [22]:
rename_cols = {
    "ORIGIN" : "Origin Airport"
}
final_merged_df.rename(columns=rename_cols, inplace=True)

In [23]:
final_merged_df["Scheduled Elapsed Time (Minutes)"] = (final_merged_df["scheduled_arrival_time"] - final_merged_df["scheduled_departure_time"]).dt.total_seconds() // 60
final_merged_df

,DATE,DAY,FLIGHT NUMBER,Origin Airport,DEPARTURE TIME,ARRIVAL TIME,ARRIVAL STATUS,ARRIVAL STATUS_Prev_flight_early,ARRIVAL STATUS_Prev_flight_ontime,ARRIVAL STATUS_Prev_flight_late,scheduled_departure_time,scheduled_arrival_time,Carrier Code,date_time,app_temp_x,clouds_x,dewpt_x,pres_x,rh_x,temp_x,timestamp_local_x,uv_x,vis_x,weather.code_x,wind_dir_x,wind_gust_spd_x,wind_spd_x,date_time_map_x,app_temp_y,clouds_y,dewpt_y,pres_y,rh_y,temp_y,timestamp_local_y,uv_y,vis_y,weather.code_y,wind_dir_y,wind_gust_spd_y,wind_spd_y,date_time_map_y,Scheduled Elapsed Time (Minutes)
0,4/19/24,FRIDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-19 14:55:00,2024-04-19 16:21:00,DL,2024-04-19 16:21:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,11.3,92,5.4,1015.0,67,11.3,2024-04-19T16:00:00,1.6,24.128,804,126,7.06,4.80,2024-04-19 16:00:00,86.0
1,4/19/24,FRIDAY,B6 656,MCO,1:35 PM,4:25 PM,NaN,NaN,NaN,NaN,2024-04-19 13:35:00,2024-04-19 16:25:00,B6,2024-04-19 16:25:00,15.8,87,7.5,994.5,58,15.8,2024-04-19T16:00:00,1.8,10.520,804,190,12.53,8.13,2024-04-19 16:00:00,32.4,14,15.9,1011.0,37,32.5,2024-04-19T16:00:00,5.7,24.128,801,276,4.00,2.80,2024-04-19 16:00:00,170.0
2,4/19/24,FRIDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-19 19:59:00,2024-04-19 22:52:00,AA,2024-04-19 22:52:00,11.2,73,5.7,998.5,69,11.2,2024-04-19T23:00:00,0.0,24.128,804,250,7.60,5.20,2024-04-19 23:00:00,9.3,50,-1.5,993.0,47,9.3,2024-04-19T23:00:00,0.0,24.128,803,280,6.00,4.00,2024-04-19 23:00:00,173.0
3,4/20/24,SATURDAY,DL 5182,JFK,2:55 PM,4:21 PM,NaN,NaN,NaN,NaN,2024-04-20 14:55:00,2024-04-20 16:21:00,DL,2024-04-20 16:21:00,11.2,75,-1.6,996.5,41,11.2,2024-04-20T16:00:00,2.1,22.960,804,280,15.16,10.00,2024-04-20 16:00:00,16.0,64,4.1,1010.0,45,16.0,2024-04-20T16:00:00,2.4,24.128,803,273,8.63,5.86,2024-04-20 16:00:00,86.0
4,4/20/24,SATURDAY,AA 3402,ORD,7:59 PM,10:52 PM,NaN,NaN,NaN,NaN,2024-04-20 19:59:00,2024-04-20 22:52:00,AA,2024-04-20 22:52:00,1.7,27,-1.6,998.5,58,6.0,2024-04-20T23:00:00,0.0,24.128,802,270,10.50,7.20,2024-04-20 23:00:00,3.6,51,-2.3,995.0,53,6.6,2024-04-20T23:00:00,0.0,24.128,803,313,6.60,4.53,2024-04-20 23:00:00,173.0
5,4/21/24,SUNDAY,WN 5285,MCO,11:05 AM,1:50 PM,NaN,NaN,NaN,NaN,2024-04-21 11:05:00,2024-04-21 13:50:00,WN,2024-04-21 13:50:00,10.7,56,-2.0,998.5,41,10.7,2024-04-21T14:00:00,4.6,24.128,803,280,9.50,6.33,2024-04-21 14:00:00,32.3,12,17.0,1011.0,41,31.9,2024-04-21T14:00:00,9.5,24.128,801,230,8.30,5.53,2024-04-21 14:00:00,165.0
6,4/21/24,SUNDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-21 13:35:00,2024-04-21 14:51:00,B6,2024-04-21 14:51:00,10.2,50,-2.1,998.5,42,10.2,2024-04-21T15:00:00,4.0,24.128,803,280,9.20,6.08,2024-04-21 15:00:00,13.5,66,0.2,1012.5,40,13.5,2024-04-21T15:00:00,3.4,24.128,803,246,7.60,5.15,2024-04-21 15:00:00,76.0
7,4/21/24,SUNDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-21 18:52:00,2024-04-21 21:47:00,UA,2024-04-21 21:47:00,3.5,14,-2.2,998.5,53,6.7,2024-04-21T22:00:00,0.0,24.128,801,270,7.56,4.82,2024-04-21 22:00:00,9.2,8,-0.9,993.0,49,9.2,2024-04-21T22:00:00,0.0,24.128,801,265,5.50,3.59,2024-04-21 22:00:00,175.0
8,4/22/24,MONDAY,WN 5285,MCO,11:35 AM,2:20 PM,NaN,NaN,NaN,NaN,2024-04-22 11:35:00,2024-04-22 14:20:00,WN,2024-04-22 14:20:00,14.2,18,-1.0,1000.0,35,14.2,2024-04-22T14:00:00,6.6,24.128,801,290,8.10,5.40,2024-04-22 14:00:00,30.4,36,19.3,1009.0,56,29.0,2024-04-22T14:00:00,7.8,24.128,802,260,9.70,6.20,2024-04-22 14:00:00,165.0
9,4/22/24,MONDAY,B6 116,JFK,1:35 PM,2:51 PM,NaN,NaN,NaN,NaN,2024-04-22 13:35:00,2024-04-22 14:51:00,B6,2024-04-22 14:51:00,13.6,18,-0.8,1000.0,37,13.6,2024-04-22T15:00:00,5.5,24.128,801,295,7.76,5.14,2024-04-22 15:00:00,14.8,17,1.7,1013.2,41,14.8,2024-04-22T15:00:00,5.6,24.128,801,198,6.56,4.21,2024-04-22 15:00:00,76.0
10,4/22/24,MONDAY,UA 1400,ORD,6:52 PM,9:47 PM,NaN,NaN,NaN,NaN,2024-04-22 18:52:00,2024-04-22 21:47:00,UA,2024-04-22 21:47:00,6.0,45,-2.4,1001.2,52,6.8,2024-04-22T22:00:00,0.0,24.128,801,179,1.54,1.54,2024-04-22 22:00:00,11.2,57,0.3,988.5,47,11.2,2024-04-22T22:00:00,0.0,24.128,802,163,7.70,4.12,2024-04-22 22:00:00,175.0

In [24]:
final_merged_df.columns

Index(['DATE', 'DAY', 'FLIGHT NUMBER', 'Origin Airport', 'DEPARTURE TIME',
       'ARRIVAL TIME', 'ARRIVAL STATUS', 'ARRIVAL STATUS_Prev_flight_early',
       'ARRIVAL STATUS_Prev_flight_ontime', 'ARRIVAL STATUS_Prev_flight_late',
       'scheduled_departure_time', 'scheduled_arrival_time', 'Carrier Code',
       'date_time', 'app_temp_x', 'clouds_x', 'dewpt_x', 'pres_x', 'rh_x',
       'temp_x', 'timestamp_local_x', 'uv_x', 'vis_x', 'weather.code_x',
       'wind_dir_x', 'wind_gust_spd_x', 'wind_spd_x', 'date_time_map_x',
       'app_temp_y', 'clouds_y', 'dewpt_y', 'pres_y', 'rh_y', 'temp_y',
       'timestamp_local_y', 'uv_y', 'vis_y', 'weather.code_y', 'wind_dir_y',
       'wind_gust_spd_y', 'wind_spd_y', 'date_time_map_y',
       'Scheduled Elapsed Time (Minutes)'],
      dtype='object')

In [25]:
drop_cols = ["DATE", "DAY", "FLIGHT NUMBER", 'DEPARTURE TIME',
       'ARRIVAL TIME', 'ARRIVAL STATUS', 'ARRIVAL STATUS_Prev_flight_early',
       'ARRIVAL STATUS_Prev_flight_ontime', 'ARRIVAL STATUS_Prev_flight_late',  'date_time', 'timestamp_local_x', 'timestamp_local_y', 'date_time_map_x',
            'date_time_map_y']

In [26]:
final_merged_df.drop(columns=drop_cols, inplace=True)

In [27]:
final_merged_df.to_csv(f"./data/modified/{type1.lower()}_predictions_{model}.csv", index=False)