In [2]:
import requests
import pandas as pd
from time import strftime, localtime

In [2]:
months = {
    "01": "31",
    "02": "28",
    "03": "31",
    "04": "30",
    "05": "31",
    "06": "30",
    "07": "31",
    "08": "31",
    "09": "30",
    "10": "31",
    "11": "30",
    "12": "31",
}

airport_weather_list = ['IAD',
 'DEN',
 'EWR',
 'ORD',
 'ATL',
 'DTW',
 'LGA',
 'MSP',
 'MCO',
 'RSW',
 'TPA',
 'MIA',
 'RDU',
 'ALB',
 'JFK',
 'BOS',
 'FLL',
 'DCA',
 'DFW',
 'CLT',
 'PHL',
 'SRQ',
 'PIE',
 'BNA',
 'PGD',
 'SFB',
 'MYR',
 'GSP',
 'BWI']

In [ ]:
weather_df_list = []
# syr_df = []
for org in ["MCO", "ORD", "JFK", "SYR"]:
# for org in ["SYR"]:
    loc_code = org
    for year in ["2019", "2020", "2021", "2022", "2023", "2024"]:
        for mon in months:
            try:
                
                start_date = f"{year}{mon}01"
                end_date = f"{year}{mon}{months[mon]}"
                link = f"https://api.weather.com/v1/location/K{loc_code}:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate={start_date}&endDate={end_date}"
                print(end_date, end=" ")
                data = requests.get(link).json()
                w_df = pd.DataFrame(data["observations"])
                w_df["est_time"] = w_df["valid_time_gmt"].apply(lambda x: strftime('%H:%M:%S', localtime(x)))
                w_df["est_date"] = w_df["valid_time_gmt"].apply(lambda x: strftime('%Y-%m-%d', localtime(x)))
                weather_df_list.append(w_df)
            except:
                break

20190131 20190228 20190331 20200131 20200228 20200331 20210131 20210228 20220131 20230131 20240131 20190131 20200131 20210131 20220131 20230131 20240131 20190131 20200131 20210131 20220131 20230131 20240131 20190131

In [56]:
weather_df_list = []

for loc_code in ["MCO", "ORD", "JFK", "SYR"]:
    link = f"https://api.weather.com/v1/location/K{loc_code}:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate=20220313"
    print(loc_code, end=" ")
    data = requests.get(link).json()
    w_df = pd.DataFrame(data["observations"])
    weather_df_list.append(w_df)

MCO ORD JFK SYR

In [47]:
weather_df = pd.read_csv("./data/modified/weather_mco_ord_jfk_syr.csv", index_col=0)
weather_df

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,est_time,est_date
0,KMCO,observation,1546329180,KMCO,Orlando/Intl,1546321980,N,69.0,29.0,2900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:53:00,2019-01-01
1,KMCO,observation,1546332780,KMCO,Orlando/Intl,1546325580,N,67.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01:53:00,2019-01-01
2,KMCO,observation,1546336380,KMCO,Orlando/Intl,1546329180,N,66.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02:53:00,2019-01-01
3,KMCO,observation,1546338360,KMCO,Orlando/Intl,1546331160,N,65.0,20.0,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:26:00,2019-01-01
4,KMCO,observation,1546338900,KMCO,Orlando/Intl,1546331700,N,65.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:35:00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,KSYR,observation,1583039760,KSYR,Syracuse,1583032560,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219927,KSYR,observation,1583040480,KSYR,Syracuse,1583033280,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219928,KSYR,observation,1583042040,KSYR,Syracuse,1583034840,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219929,KSYR,observation,1583044380,KSYR,Syracuse,1583037180,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219930,KSYR,observation,1583045640,KSYR,Syracuse,1583038440,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
leap_df = pd.concat(weather_df_list).reset_index(drop=True)
leap_df

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,KMCO,observation,1647157980,KMCO,Orlando,1647150780,N,45,33,3300,...,FEW,None,None,None,None,None,None,None,None,None
1,KMCO,observation,1647161580,KMCO,Orlando,1647154380,N,44,33,3300,...,CLR,None,None,None,None,None,None,None,None,None
2,KORD,observation,1647161460,KORD,Chicago/O'Hare,1647154260,N,21,26,2600,...,OVC,None,None,None,None,None,None,None,None,None
3,KORD,observation,1647165060,KORD,Chicago/O'Hare,1647157860,N,23,26,2600,...,OVC,None,None,None,None,None,None,None,None,None
4,KJFK,observation,1647157860,KJFK,New York/JFK Intl,1647150660,N,23,29,2990,...,SCT,None,None,None,None,None,None,None,None,None
5,KJFK,observation,1647161460,KJFK,New York/JFK Intl,1647154260,N,23,29,2990,...,SCT,None,None,None,None,None,None,None,None,None
6,KSYR,observation,1647155220,KSYR,Syracuse,1647148020,N,18,14,1691,...,OVC,None,None,None,None,None,None,None,None,None
7,KSYR,observation,1647155580,KSYR,Syracuse,1647148380,N,18,14,1691,...,OVC,None,None,None,None,None,None,None,None,None
8,KSYR,observation,1647156480,KSYR,Syracuse,1647149280,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
9,KSYR,observation,1647157020,KSYR,Syracuse,1647149820,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
10,KSYR,observation,1647157500,KSYR,Syracuse,1647150300,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
11,KSYR,observation,1647158040,KSYR,Syracuse,1647150840,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
12,KSYR,observation,1647158400,KSYR,Syracuse,1647151200,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
13,KSYR,observation,1647158580,KSYR,Syracuse,1647151380,N,17,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
14,KSYR,observation,1647159360,KSYR,Syracuse,1647152160,N,18,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
15,KSYR,observation,1647160260,KSYR,Syracuse,1647153060,N,18,14,1601,...,OVC,None,None,None,None,None,None,None,None,None
16,KSYR,observation,1647161640,KSYR,Syracuse,1647154440,N,18,14,1601,...,OVC,None,None,None,None,None,None,None,None,None

In [58]:
pd.to_datetime(leap_df["valid_time_gmt"], unit='s', utc=True).dt.tz_convert('America/New_York')

0    2022-03-13 00:53:00-05:00
1    2022-03-13 01:53:00-05:00
2    2022-03-13 01:51:00-05:00
3    2022-03-13 03:51:00-04:00
4    2022-03-13 00:51:00-05:00
5    2022-03-13 01:51:00-05:00
6    2022-03-13 00:07:00-05:00
7    2022-03-13 00:13:00-05:00
8    2022-03-13 00:28:00-05:00
9    2022-03-13 00:37:00-05:00
10   2022-03-13 00:45:00-05:00
11   2022-03-13 00:54:00-05:00
12   2022-03-13 01:00:00-05:00
13   2022-03-13 01:03:00-05:00
14   2022-03-13 01:16:00-05:00
15   2022-03-13 01:31:00-05:00
16   2022-03-13 01:54:00-05:00
Name: valid_time_gmt, dtype: datetime64[ns, America/New_York]

In [30]:
weather_df1 = pd.concat([weather_df, leap_df]).reset_index(drop=True)
weather_df1

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,est_time,est_date
0,KMCO,observation,1546329180,KMCO,Orlando/Intl,1546321980,N,69.0,29.0,2900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:53:00,2019-01-01
1,KMCO,observation,1546332780,KMCO,Orlando/Intl,1546325580,N,67.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01:53:00,2019-01-01
2,KMCO,observation,1546336380,KMCO,Orlando/Intl,1546329180,N,66.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02:53:00,2019-01-01
3,KMCO,observation,1546338360,KMCO,Orlando/Intl,1546331160,N,65.0,20.0,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:26:00,2019-01-01
4,KMCO,observation,1546338900,KMCO,Orlando/Intl,1546331700,N,65.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:35:00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,KSYR,observation,1583039760,KSYR,Syracuse,1583032560,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219927,KSYR,observation,1583040480,KSYR,Syracuse,1583033280,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219928,KSYR,observation,1583042040,KSYR,Syracuse,1583034840,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219929,KSYR,observation,1583044380,KSYR,Syracuse,1583037180,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219930,KSYR,observation,1583045640,KSYR,Syracuse,1583038440,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
weather_df = pd.concat(weather_df_list).reset_index(drop=True)
weather_df

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,est_time,est_date
0,KMCO,observation,1546329180,KMCO,Orlando/Intl,1546321980,N,69.0,29.0,2900.0,...,None,None,None,None,None,None,None,None,00:53:00,2019-01-01
1,KMCO,observation,1546332780,KMCO,Orlando/Intl,1546325580,N,67.0,33.0,3300.0,...,None,None,None,None,None,None,None,None,01:53:00,2019-01-01
2,KMCO,observation,1546336380,KMCO,Orlando/Intl,1546329180,N,66.0,33.0,3300.0,...,None,None,None,None,None,None,None,None,02:53:00,2019-01-01
3,KMCO,observation,1546338360,KMCO,Orlando/Intl,1546331160,N,65.0,20.0,2000.0,...,None,None,None,None,None,None,None,None,03:26:00,2019-01-01
4,KMCO,observation,1546338900,KMCO,Orlando/Intl,1546331700,N,65.0,33.0,3300.0,...,None,None,None,None,None,None,None,None,03:35:00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219795,KSYR,observation,1712530440,KSYR,Syracuse,1712523240,D,58.0,34.0,3400.0,...,None,None,None,None,None,None,None,None,16:54:00,2024-04-07
219796,KSYR,observation,1712534040,KSYR,Syracuse,1712526840,D,57.0,34.0,3400.0,...,None,None,None,None,None,None,None,None,17:54:00,2024-04-07
219797,KSYR,observation,1712537640,KSYR,Syracuse,1712530440,D,56.0,34.0,3400.0,...,None,None,None,None,None,None,None,None,18:54:00,2024-04-07
219798,KSYR,observation,1712541240,KSYR,Syracuse,1712534040,N,50.0,33.0,3300.0,...,None,None,None,None,None,None,None,None,19:54:00,2024-04-07
219799,KSYR,observation,1712544840,KSYR,Syracuse,1712537640,N,47.0,33.0,3300.0,...,None,None,None,None,None,None,None,None,20:54:00,2024-04-07

In [26]:
syr_df = pd.concat(syr_df).reset_index(drop=True)
syr_df

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,time,date
0,KIAD,observation,1546328220,KIAD,Washington/Dulle,1546321020,N,49,20,2000,...,None,None,None,None,None,None,None,None,00:37:00,2019-01-01
1,KIAD,observation,1546329120,KIAD,Washington/Dulle,1546321920,N,50,20,2000,...,None,None,None,None,None,None,None,None,00:52:00,2019-01-01
2,KIAD,observation,1546330260,KIAD,Washington/Dulle,1546323060,N,52,20,2000,...,None,None,None,None,None,None,None,None,01:11:00,2019-01-01
3,KIAD,observation,1546331520,KIAD,Washington/Dulle,1546324320,N,54,26,2600,...,None,None,None,None,None,None,None,None,01:32:00,2019-01-01
4,KIAD,observation,1546332420,KIAD,Washington/Dulle,1546325220,N,54,26,2600,...,None,None,None,None,None,None,None,None,01:47:00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65299,KIAD,observation,1548989520,KIAD,Washington/Dulle,1548982320,N,15,33,3300,...,None,None,None,None,None,None,None,None,19:52:00,2019-01-31
65300,KIAD,observation,1548993120,KIAD,Washington/Dulle,1548985920,N,12,33,3300,...,None,None,None,None,None,None,None,None,20:52:00,2019-01-31
65301,KIAD,observation,1548996720,KIAD,Washington/Dulle,1548989520,N,11,33,3300,...,None,None,None,None,None,None,None,None,21:52:00,2019-01-31
65302,KIAD,observation,1549000320,KIAD,Washington/Dulle,1548993120,N,10,29,2900,...,None,None,None,None,None,None,None,None,22:52:00,2019-01-31
65303,KIAD,observation,1549003920,KIAD,Washington/Dulle,1548996720,N,9,27,2700,...,None,None,None,None,None,None,None,None,23:52:00,2019-01-31

In [29]:
weather_df["obs_id"].unique()

array(['KIAD'], dtype=object)

In [28]:
weather_df[weather_df["obs_id"] == "KORD"]

Empty DataFrame
Columns: [key, class, expire_time_gmt, obs_id, obs_name, valid_time_gmt, day_ind, temp, wx_icon, icon_extd, wx_phrase, pressure_tend, pressure_desc, dewPt, heat_index, rh, pressure, vis, wc, wdir, wdir_cardinal, gust, wspd, max_temp, min_temp, precip_total, precip_hrly, snow_hrly, uv_desc, feels_like, uv_index, qualifier, qualifier_svrty, blunt_phrase, terse_phrase, clds, water_temp, primary_wave_period, primary_wave_height, primary_swell_period, primary_swell_height, primary_swell_direction, secondary_swell_period, secondary_swell_height, secondary_swell_direction, time, date]
Index: []

[0 rows x 47 columns]

In [27]:
syr_df.columns

Index(['key', 'class', 'expire_time_gmt', 'obs_id', 'obs_name',
       'valid_time_gmt', 'day_ind', 'temp', 'wx_icon', 'icon_extd',
       'wx_phrase', 'pressure_tend', 'pressure_desc', 'dewPt', 'heat_index',
       'rh', 'pressure', 'vis', 'wc', 'wdir', 'wdir_cardinal', 'gust', 'wspd',
       'max_temp', 'min_temp', 'precip_total', 'precip_hrly', 'snow_hrly',
       'uv_desc', 'feels_like', 'uv_index', 'qualifier', 'qualifier_svrty',
       'blunt_phrase', 'terse_phrase', 'clds', 'water_temp',
       'primary_wave_period', 'primary_wave_height', 'primary_swell_period',
       'primary_swell_height', 'primary_swell_direction',
       'secondary_swell_period', 'secondary_swell_height',
       'secondary_swell_direction', 'time', 'date'],
      dtype='object')

In [31]:
weather_df1.to_csv("./data/modified/weather_mco_ord_jfk_syr.csv")

In [4]:
df_list = []
for year in ["2019", "2020", "2021", "2022", "2023", "2024"]:
    for mon in months:
        # days = int(months[mon])
        # for i in range(1,days+1):
        try:
            link_r = f"{link_2}{year}{mon}{i:02}"
            print(f"{year}{mon}{i:02}", end=", ")
            data = requests.get(link_r).json()["observations"]
            df = pd.DataFrame(data)
            df["date"] = f"{year}-{mon}-{i:02}"
            df["time"] = df["valid_time_gmt"].apply(lambda x: strftime('%H:%M:%S', localtime(x)))
            df_list.append(df)
        except Exception as e:
            break
    print()

20190101, 20190102, 20190103, 20190104, 20190105, 20190106, 20190107, 20190108, 20190109, 20190110, 20190111, 20190112, 20190113, 20190114, 20190115, 20190116, 20190117, 20190118, 20190119, 20190120, 20190121, 20190122, 20190123, 20190124, 20190125, 20190126, 20190127, 20190128, 20190129, 20190130, 20190131, 20190201, 20190202, 20190203, 20190204, 20190205, 20190206, 20190207, 20190208, 20190209, 20190210, 20190211, 20190212, 20190213, 20190214, 20190215, 20190216, 20190217, 20190218, 20190219, 20190220, 20190221, 20190222, 20190223, 20190224, 20190225, 20190226, 20190227, 20190228, 20190301, 20190302, 20190303, 20190304, 20190305, 20190306, 20190307, 20190308, 20190309, 20190310, 20190311, 20190312, 20190313, 20190314, 20190315, 20190316, 20190317, 20190318, 20190319, 20190320, 20190321, 20190322, 20190323, 20190324, 20190325, 20190326, 20190327, 20190328, 20190329, 20190330, 20190331, 20190401, 20190402, 20190403, 20190404, 20190405, 20190406, 20190407, 20190408, 20190409, 20190410, 20190411, 20190412, 20190413, 20190414, 20190415, 20190416, 20190417, 20190418, 20190419, 20190420, 20190421, 20190422, 20190423, 20190424, 20190425, 20190426, 20190427, 20190428, 20190429, 20190430, 20190501, 20190502, 20190503, 20190504, 20190505, 20190506, 20190507, 20190508, 20190509, 20190510, 20190511, 20190512, 20190513, 20190514, 20190515, 20190516, 20190517, 20190518, 20190519, 20190520, 20190521, 20190522, 20190523, 20190524, 20190525, 20190526, 20190527, 20190528, 20190529, 20190530, 20190531, 20190601, 20190602, 20190603, 20190604, 20190605, 20190606, 20190607, 20190608, 20190609, 20190610, 20190611, 20190612, 20190613, 20190614, 20190615, 20190616, 20190617, 20190618, 20190619, 20190620, 20190621, 20190622, 20190623, 20190624, 20190625, 20190626, 20190627, 20190628, 20190629, 20190630, 20190701, 20190702, 20190703, 20190704, 20190705, 20190706, 20190707, 20190708, 20190709, 20190710, 20190711, 20190712, 20190713, 20190714, 20190715, 20190716, 20190717, 20190718, 20190719, 20190720, 20190721, 20190722, 20190723, 20190724, 20190725, 20190726, 20190727, 20190728, 20190729, 20190730, 20190731, 20190801, 20190802, 20190803, 20190804, 20190805, 20190806, 20190807, 20190808, 20190809, 20190810, 20190811, 20190812, 20190813, 20190814, 20190815, 20190816, 20190817, 20190818, 20190819, 20190820, 20190821, 20190822, 20190823, 20190824, 20190825, 20190826, 20190827, 20190828, 20190829, 20190830, 20190831, 20190901, 20190902, 20190903, 20190904, 20190905, 20190906, 20190907, 20190908, 20190909, 20190910, 20190911, 20190912, 20190913, 20190914, 20190915, 20190916, 20190917, 20190918, 20190919, 20190920, 20190921, 20190922, 20190923, 20190924, 20190925, 20190926, 20190927, 20190928, 20190929, 20190930, 20191001, 20191002, 20191003, 20191004, 20191005, 20191006, 20191007, 20191008, 20191009, 20191010, 20191011, 20191012, 20191013, 20191014, 20191015, 20191016, 20191017, 20191018, 20191019, 20191020, 20191021, 20191022, 20191023, 20191024, 20191025, 20191026, 20191027, 20191028, 20191029, 20191030, 20191031, 20191101, 20191102, 20191103, 20191104, 20191105, 20191106, 20191107, 20191108, 20191109, 20191110, 20191111, 20191112, 20191113, 20191114, 20191115, 20191116, 20191117, 20191118, 20191119, 20191120, 20191121, 20191122, 20191123, 20191124, 20191125, 20191126, 20191127, 20191128, 20191129, 20191130, 20191201, 20191202, 20191203, 20191204, 20191205, 20191206, 20191207, 20191208, 20191209, 20191210, 20191211, 20191212, 20191213, 20191214, 20191215, 20191216, 20191217, 20191218, 20191219, 20191220, 20191221, 20191222, 20191223, 20191224, 20191225, 20191226, 20191227, 20191228, 20191229, 20191230, 20191231,
20200101, 20200102, 20200103, 20200104, 20200105, 20200106, 20200107, 20200108, 20200109, 20200110, 20200111, 20200112, 20200113, 20200114, 20200115, 20200116, 20200117, 20200118, 20200119, 20200120, 20200121, 20200122, 20200123, 20200124, 20200125, 20200126, 20200127, 20200128, 20200129, 20200130, 20200131, 20200201, 20200202, 20200203, 20200204, 20200205, 20200206, 20200207, 20200208, 20200209, 20200210, 20200211, 20200212, 20200213, 20200214, 20200215, 20200216, 20200217, 20200218, 20200219, 20200220, 20200221, 20200222, 20200223, 20200224, 20200225, 20200226, 20200227, 20200228, 20200301, 20200302, 20200303, 20200304, 20200305, 20200306, 20200307, 20200308, 20200309, 20200310, 20200311, 20200312, 20200313, 20200314, 20200315, 20200316, 20200317, 20200318, 20200319, 20200320, 20200321, 20200322, 20200323, 20200324, 20200325, 20200326, 20200327, 20200328, 20200329, 20200330, 20200331, 20200401, 20200402, 20200403, 20200404, 20200405, 20200406, 20200407, 20200408, 20200409, 20200410, 20200411, 20200412, 20200413, 20200414, 20200415, 20200416, 20200417, 20200418, 20200419, 20200420, 20200421, 20200422, 20200423, 20200424, 20200425, 20200426, 20200427, 20200428, 20200429, 20200430, 20200501, 20200502, 20200503, 20200504, 20200505, 20200506, 20200507, 20200508, 20200509, 20200510, 20200511, 20200512, 20200513, 20200514, 20200515, 20200516, 20200517, 20200518, 20200519, 20200520, 20200521, 20200522, 20200523, 20200524, 20200525, 20200526, 20200527, 20200528, 20200529, 20200530, 20200531, 20200601, 20200602, 20200603, 20200604, 20200605, 20200606, 20200607, 20200608, 20200609, 20200610, 20200611, 20200612, 20200613, 20200614, 20200615, 20200616, 20200617, 20200618, 20200619, 20200620, 20200621, 20200622, 20200623, 20200624, 20200625, 20200626, 20200627, 20200628, 20200629, 20200630, 20200701, 20200702, 20200703, 20200704, 20200705, 20200706, 20200707, 20200708, 20200709, 20200710, 20200711, 20200712, 20200713, 20200714, 20200715, 20200716, 20200717, 20200718, 20200719, 20200720, 20200721, 20200722, 20200723, 20200724, 20200725, 20200726, 20200727, 20200728, 20200729, 20200730, 20200731, 20200801, 20200802, 20200803, 20200804, 20200805, 20200806, 20200807, 20200808, 20200809, 20200810, 20200811, 20200812, 20200813, 20200814, 20200815, 20200816, 20200817, 20200818, 20200819, 20200820, 20200821, 20200822, 20200823, 20200824, 20200825, 20200826, 20200827, 20200828, 20200829, 20200830, 20200831, 20200901, 20200902, 20200903, 20200904, 20200905, 20200906, 20200907, 20200908, 20200909, 20200910, 20200911, 20200912, 20200913, 20200914, 20200915, 20200916, 20200917, 20200918, 20200919, 20200920, 20200921, 20200922, 20200923, 20200924, 20200925, 20200926, 20200927, 20200928, 20200929, 20200930, 20201001, 20201002, 20201003, 20201004, 20201005, 20201006, 20201007, 20201008, 20201009, 20201010, 20201011, 20201012, 20201013, 20201014, 20201015, 20201016, 20201017, 20201018, 20201019, 20201020, 20201021, 20201022, 20201023, 20201024, 20201025, 20201026, 20201027, 20201028, 20201029, 20201030, 20201031, 20201101, 20201102, 20201103, 20201104, 20201105, 20201106, 20201107, 20201108, 20201201, 20201202, 20201203, 20201204, 20201205, 20201206, 20201207, 20201208, 20201209, 20201210, 20201211, 20201212, 20201213, 20201214, 20201215, 20201216, 20201217, 20201218, 20201219, 20201220, 20201221, 20201222, 20201223, 20201224, 20201225, 20201226, 20201227, 20201228, 20201229, 20201230, 20201231,
20210101, 20210102, 20210103, 20210104, 20210105, 20210106, 20210107, 20210108, 20210109, 20210110, 20210111, 20210112, 20210113, 20210114, 20210115, 20210116, 20210117, 20210118, 20210119, 20210120, 20210121, 20210122, 20210123, 20210124, 20210125, 20210126, 20210127, 20210128, 20210129, 20210130, 20210131, 20210201, 20210202, 20210203, 20210204, 20210205, 20210206, 20210207, 20210208, 20210209, 20210210, 20210211, 20210212, 20210213, 20210214, 20210215, 20210216, 20210217, 20210218, 20210219, 20210220, 20210221, 20210222, 20210223, 20210224, 20210225, 20210226, 20210227, 20210228, 20210301, 20210302, 20210303, 20210304, 20210305, 20210306, 20210307, 20210308, 20210309, 20210310, 20210311, 20210312, 20210313, 20210314, 20210315, 20210316, 20210317, 20210318, 20210319, 20210320, 20210321, 20210322, 20210323, 20210324, 20210325, 20210326, 20210327, 20210328, 20210329, 20210330, 20210331, 20210401, 20210402, 20210403, 20210404, 20210405, 20210406, 20210407, 20210408, 20210409, 20210410, 20210411, 20210412, 20210413, 20210414, 20210415, 20210416, 20210417, 20210418, 20210419, 20210420, 20210421, 20210422, 20210423, 20210424, 20210425, 20210426, 20210427, 20210428, 20210429, 20210430, 20210501, 20210502, 20210503, 20210504, 20210505, 20210506, 20210507, 20210508, 20210509, 20210510, 20210511, 20210512, 20210513, 20210514, 20210515, 20210516, 20210517, 20210518, 20210519, 20210520, 20210521, 20210522, 20210523, 20210524, 20210525, 20210526, 20210527, 20210528, 20210529, 20210530, 20210531, 20210601, 20210602, 20210603, 20210604, 20210605, 20210606, 20210607, 20210608, 20210609, 20210610, 20210611, 20210612, 20210613, 20210614, 20210615, 20210616, 20210617, 20210618, 20210619, 20210620, 20210621, 20210622, 20210623, 20210624, 20210625, 20210626, 20210627, 20210628, 20210629, 20210630, 20210701, 20210702, 20210703, 20210704, 20210705, 20210706, 20210707, 20210708, 20210709, 20210710, 20210711, 20210712, 20210713, 20210714, 20210715, 20210716, 20210717, 20210718, 20210719, 20210720, 20210721, 20210722, 20210723, 20210724, 20210725, 20210726, 20210727, 20210728, 20210729, 20210730, 20210731, 20210801, 20210802, 20210803, 20210804, 20210805, 20210806, 20210807, 20210808, 20210809, 20210810, 20210811, 20210812, 20210813, 20210814, 20210815, 20210816, 20210817, 20210818, 20210819, 20210820, 20210821, 20210822, 20210823, 20210824, 20210825, 20210826, 20210827, 20210828, 20210829, 20210830, 20210831, 20210901, 20210902, 20210903, 20210904, 20210905, 20210906, 20210907, 20210908, 20210909, 20210910, 20210911, 20210912, 20210913, 20210914, 20210915, 20210916, 20210917, 20210918, 20210919, 20210920, 20210921, 20210922, 20210923, 20210924, 20210925, 20210926, 20210927, 20210928, 20210929, 20210930, 20211001, 20211002, 20211003, 20211004, 20211005, 20211006, 20211007, 20211008, 20211009, 20211010, 20211011, 20211012, 20211013, 20211014, 20211015, 20211016, 20211017, 20211018, 20211019, 20211020, 20211021, 20211022, 20211023, 20211024, 20211025, 20211026, 20211027, 20211028, 20211029, 20211030, 20211031, 20211101, 20211102, 20211103, 20211104, 20211105, 20211106, 20211107, 20211108, 20211109, 20211110, 20211111, 20211112, 20211113, 20211114, 20211115, 20211116, 20211117, 20211118, 20211119, 20211120, 20211121, 20211122, 20211123, 20211124, 20211125, 20211126, 20211127, 20211128, 20211129, 20211130, 20211201, 20211202, 20211203, 20211204, 20211205, 20211206, 20211207, 20211208, 20211209, 20211210, 20211211, 20211212, 20211213, 20211214, 20211215, 20211216, 20211217, 20211218, 20211219, 20211220, 20211221, 20211222, 20211223, 20211224, 20211225, 20211226, 20211227, 20211228, 20211229, 20211230, 20211231,

In [5]:
df_c = pd.concat(df_list)

In [6]:
columns = ["time", "valid_time_gmt", "temp",  "dewPt", "rh", "wdir_cardinal", "wspd", "gust", "wx_phrase", "pressure", "precip_hrly", "date"]

In [8]:
# df_c[columns].to_csv("./2022_04.csv", index=False)
df_c[columns].to_csv("./prev.csv", index=False)
df_c.to_csv("./prev_all_cols.csv", index=False)

In [19]:
df_c

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,date,time
0,KSYR,observation,1704092400,KSYR,Syracuse,1704085200,N,27.0,14.0,1601.0,...,None,None,None,None,None,None,None,None,2024-01-01,00:00:00
1,KSYR,observation,1704095640,KSYR,Syracuse,1704088440,N,26.0,14.0,1601.0,...,None,None,None,None,None,None,None,None,2024-01-01,00:54:00
2,KSYR,observation,1704099240,KSYR,Syracuse,1704092040,N,24.0,14.0,1601.0,...,None,None,None,None,None,None,None,None,2024-01-01,01:54:00
3,KSYR,observation,1704102840,KSYR,Syracuse,1704095640,N,25.0,14.0,1601.0,...,None,None,None,None,None,None,None,None,2024-01-01,02:54:00
4,KSYR,observation,1704106440,KSYR,Syracuse,1704099240,N,24.0,14.0,1601.0,...,None,None,None,None,None,None,None,None,2024-01-01,03:54:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,KSYR,observation,1712372040,KSYR,Syracuse,1712364840,N,39.0,11.0,1201.0,...,None,None,None,None,None,None,None,None,2024-04-05,20:54:00
37,KSYR,observation,1712373480,KSYR,Syracuse,1712366280,N,40.0,11.0,1201.0,...,None,None,None,None,None,None,None,None,2024-04-05,21:18:00
38,KSYR,observation,1712374200,KSYR,Syracuse,1712367000,N,39.0,11.0,1201.0,...,None,None,None,None,None,None,None,None,2024-04-05,21:30:00
39,KSYR,observation,1712375640,KSYR,Syracuse,1712368440,N,40.0,11.0,1201.0,...,None,None,None,None,None,None,None,None,2024-04-05,21:54:00
40,KSYR,observation,1712377680,KSYR,Syracuse,1712370480,N,39.0,11.0,1201.0,...,None,None,None,None,None,None,None,None,2024-04-05,22:28:00

In [23]:
l = [df_c[columns]]

In [24]:
df1 = pd.read_csv("./weather_data/2022.csv")
df2 = pd.read_csv("./weather_data/2023.csv")
df3 = pd.read_csv("./weather_data/2024.csv")

In [25]:
df2

,time,valid_time_gmt,temp,dewPt,rh,wdir_cardinal,wspd,gust,wx_phrase,pressure,precip_hrly,date
0,00:54:00,1672552440,49,46,90,W,12.0,NaN,Light Rain,29.31,0.0,2023-01-01
1,01:49:00,1672555740,46,43,87,WNW,14.0,22.0,Cloudy,29.35,0.0,2023-01-01
2,01:54:00,1672556040,46,42,86,WNW,15.0,NaN,Cloudy,29.35,0.0,2023-01-01
3,02:01:00,1672556460,46,42,86,W,16.0,26.0,Cloudy,29.36,0.0,2023-01-01
4,02:54:00,1672559640,42,38,85,WNW,20.0,26.0,Cloudy,29.39,0.0,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
11141,20:29:00,1704072540,29,25,85,CALM,0.0,NaN,Cloudy,29.55,0.0,2023-12-31
11142,20:54:00,1704074040,28,25,88,N,3.0,NaN,Cloudy,29.55,0.0,2023-12-31
11143,21:54:00,1704077640,28,25,88,N,3.0,NaN,Cloudy,29.55,0.0,2023-12-31
11144,22:54:00,1704081240,28,23,81,NNW,5.0,NaN,Cloudy,29.56,0.0,2023-12-31
11145,23:54:00,1704084840,27,23,85,N,6.0,NaN,Cloudy,29.56,0.0,2023-12-31

In [26]:
df3

,time,valid_time_gmt,temp,dewPt,rh,wdir_cardinal,wspd,gust,wx_phrase,pressure,precip_hrly,date
0,00:00:00,1704085200,27.0,23.0,85.0,NNW,7.0,NaN,Light Snow,29.56,0.0,2024-01-01
1,00:54:00,1704088440,26.0,20.0,78.0,N,7.0,NaN,Light Snow,29.56,0.0,2024-01-01
2,01:54:00,1704092040,24.0,22.0,91.0,NNW,5.0,NaN,Light Snow,29.57,0.0,2024-01-01
3,02:54:00,1704095640,25.0,22.0,88.0,NNW,6.0,NaN,Light Snow,29.58,0.0,2024-01-01
4,03:54:00,1704099240,24.0,22.0,91.0,NNW,5.0,NaN,Light Snow,29.57,0.0,2024-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
3192,20:54:00,1712364840,39.0,35.0,86.0,W,13.0,NaN,Light Rain,29.35,0.0,2024-04-05
3193,21:18:00,1712366280,40.0,35.0,83.0,W,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
3194,21:30:00,1712367000,39.0,35.0,86.0,WNW,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
3195,21:54:00,1712368440,40.0,35.0,83.0,W,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
3196,22:28:00,1712370480,39.0,36.0,89.0,WNW,10.0,NaN,Light Rain,29.35,0.0,2024-04-05

In [27]:
l.append(df1)
l.append(df2)
l.append(df3)

In [28]:
len(l)

4

In [36]:
pd.concat(l).reset_index(drop=True).to_csv("./weather_data/weather_data_2019_2024.csv", index=False)

In [37]:
df5 = pd.read_csv("./weather_data/weather_data_2019_2024.csv")

In [38]:
df5

,time,valid_time_gmt,temp,dewPt,rh,wdir_cardinal,wspd,gust,wx_phrase,pressure,precip_hrly,date
0,00:54:00,1546322040,48.0,42.0,80.0,S,12.0,26.0,Cloudy,29.05,0.0,2019-01-01
1,01:03:00,1546322580,48.0,42.0,80.0,SSW,12.0,21.0,Cloudy,29.05,0.0,2019-01-01
2,01:54:00,1546325640,49.0,44.0,83.0,S,10.0,NaN,Cloudy,29.00,0.0,2019-01-01
3,02:54:00,1546329240,52.0,46.0,80.0,SSW,18.0,31.0,Mostly Cloudy,28.96,0.0,2019-01-01
4,03:01:00,1546329660,52.0,46.0,80.0,SSW,18.0,31.0,Cloudy,28.95,0.0,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
57706,20:54:00,1712364840,39.0,35.0,86.0,W,13.0,NaN,Light Rain,29.35,0.0,2024-04-05
57707,21:18:00,1712366280,40.0,35.0,83.0,W,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
57708,21:30:00,1712367000,39.0,35.0,86.0,WNW,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
57709,21:54:00,1712368440,40.0,35.0,83.0,W,10.0,NaN,Light Rain,29.35,0.0,2024-04-05
57710,22:28:00,1712370480,39.0,36.0,89.0,WNW,10.0,NaN,Light Rain,29.35,0.0,2024-04-05

In [32]:
weather_df = pd.read_csv("./data/modified/weather_mco_ord_jfk_syr.csv", index_col=0)
weather_df

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction,est_time,est_date
0,KMCO,observation,1546329180,KMCO,Orlando/Intl,1546321980,N,69.0,29.0,2900.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00:53:00,2019-01-01
1,KMCO,observation,1546332780,KMCO,Orlando/Intl,1546325580,N,67.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01:53:00,2019-01-01
2,KMCO,observation,1546336380,KMCO,Orlando/Intl,1546329180,N,66.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02:53:00,2019-01-01
3,KMCO,observation,1546338360,KMCO,Orlando/Intl,1546331160,N,65.0,20.0,2000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:26:00,2019-01-01
4,KMCO,observation,1546338900,KMCO,Orlando/Intl,1546331700,N,65.0,33.0,3300.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03:35:00,2019-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,KSYR,observation,1583039760,KSYR,Syracuse,1583032560,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219927,KSYR,observation,1583040480,KSYR,Syracuse,1583033280,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219928,KSYR,observation,1583042040,KSYR,Syracuse,1583034840,N,20.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219929,KSYR,observation,1583044380,KSYR,Syracuse,1583037180,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219930,KSYR,observation,1583045640,KSYR,Syracuse,1583038440,N,21.0,14.0,1601.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
weather_df.isnull().sum()

key                               0
class                             0
expire_time_gmt                   0
obs_id                            0
obs_name                          0
valid_time_gmt                    0
day_ind                           0
temp                             10
wx_icon                          14
icon_extd                        14
wx_phrase                        14
pressure_tend                159517
pressure_desc                159517
dewPt                            19
heat_index                       19
rh                               19
pressure                         54
vis                              17
wc                              191
wdir                          20155
wdir_cardinal                   187
gust                         187347
wspd                            187
max_temp                     212333
min_temp                     212333
precip_total                 217067
precip_hrly                       0
snow_hrly                    219663
uv_desc                          56
feels_like                       64
uv_index                         56
qualifier                    219931
qualifier_svrty              219931
blunt_phrase                 219931
terse_phrase                 219931
clds                             20
water_temp                   219931
primary_wave_period          219931
primary_wave_height          219931
primary_swell_period         219931
primary_swell_height         219931
primary_swell_direction      219931
secondary_swell_period       219931
secondary_swell_height       219931
secondary_swell_direction    219931
est_time                        131
est_date                        131
dtype: int64

In [34]:
empty_weather_cols = weather_df.columns[weather_df.isnull().sum()>100000].tolist()
empty_weather_cols

['pressure_tend',
 'pressure_desc',
 'gust',
 'max_temp',
 'min_temp',
 'precip_total',
 'snow_hrly',
 'qualifier',
 'qualifier_svrty',
 'blunt_phrase',
 'terse_phrase',
 'water_temp',
 'primary_wave_period',
 'primary_wave_height',
 'primary_swell_period',
 'primary_swell_height',
 'primary_swell_direction',
 'secondary_swell_period',
 'secondary_swell_height',
 'secondary_swell_direction']

In [35]:
weather_df.drop(columns=empty_weather_cols + ["class", "expire_time_gmt", "obs_id", "obs_name", "est_time", "est_date"], inplace=True)

In [36]:
weather_df.isna().sum()

key                   0
valid_time_gmt        0
day_ind               0
temp                 10
wx_icon              14
icon_extd            14
wx_phrase            14
dewPt                19
heat_index           19
rh                   19
pressure             54
vis                  17
wc                  191
wdir              20155
wdir_cardinal       187
wspd                187
precip_hrly           0
uv_desc              56
feels_like           64
uv_index             56
clds                 20
dtype: int64

In [37]:
len(weather_df.columns)

21

In [38]:
weather_df

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,vis,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds
0,KMCO,1546321980,N,69.0,29.0,2900.0,Partly Cloudy,67.0,69.0,93.0,...,9.0,69.0,190.0,S,8.0,0.0,Low,69.0,0.0,SCT
1,KMCO,1546325580,N,67.0,33.0,3300.0,Fair,65.0,67.0,93.0,...,6.0,67.0,200.0,SSW,6.0,0.0,Low,67.0,0.0,FEW
2,KMCO,1546329180,N,66.0,33.0,3300.0,Fair,64.0,66.0,93.0,...,8.0,66.0,210.0,SSW,3.0,0.0,Low,66.0,0.0,FEW
3,KMCO,1546331160,N,65.0,20.0,2000.0,Fog,64.0,65.0,97.0,...,1.0,65.0,190.0,S,3.0,0.0,Low,65.0,0.0,FEW
4,KMCO,1546331700,N,65.0,33.0,3300.0,Fair,65.0,65.0,100.0,...,7.0,65.0,NaN,CALM,0.0,0.0,Low,65.0,0.0,FEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,KSYR,1583032560,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,1.0,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC
219927,KSYR,1583033280,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,4.0,9.0,240.0,WSW,10.0,0.0,Low,9.0,0.0,OVC
219928,KSYR,1583034840,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,5.0,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC
219929,KSYR,1583037180,N,21.0,14.0,1601.0,Light Snow,16.0,21.0,81.0,...,2.0,10.0,260.0,W,10.0,0.0,Low,10.0,0.0,OVC
219930,KSYR,1583038440,N,21.0,14.0,1601.0,Light Snow,17.0,21.0,85.0,...,2.0,8.0,260.0,W,14.0,0.0,Low,8.0,0.0,OVC

In [39]:
weather_df["key"] = weather_df["key"].str[1:]
weather_df

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,vis,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds
0,MCO,1546321980,N,69.0,29.0,2900.0,Partly Cloudy,67.0,69.0,93.0,...,9.0,69.0,190.0,S,8.0,0.0,Low,69.0,0.0,SCT
1,MCO,1546325580,N,67.0,33.0,3300.0,Fair,65.0,67.0,93.0,...,6.0,67.0,200.0,SSW,6.0,0.0,Low,67.0,0.0,FEW
2,MCO,1546329180,N,66.0,33.0,3300.0,Fair,64.0,66.0,93.0,...,8.0,66.0,210.0,SSW,3.0,0.0,Low,66.0,0.0,FEW
3,MCO,1546331160,N,65.0,20.0,2000.0,Fog,64.0,65.0,97.0,...,1.0,65.0,190.0,S,3.0,0.0,Low,65.0,0.0,FEW
4,MCO,1546331700,N,65.0,33.0,3300.0,Fair,65.0,65.0,100.0,...,7.0,65.0,NaN,CALM,0.0,0.0,Low,65.0,0.0,FEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,SYR,1583032560,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,1.0,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC
219927,SYR,1583033280,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,4.0,9.0,240.0,WSW,10.0,0.0,Low,9.0,0.0,OVC
219928,SYR,1583034840,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,5.0,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC
219929,SYR,1583037180,N,21.0,14.0,1601.0,Light Snow,16.0,21.0,81.0,...,2.0,10.0,260.0,W,10.0,0.0,Low,10.0,0.0,OVC
219930,SYR,1583038440,N,21.0,14.0,1601.0,Light Snow,17.0,21.0,85.0,...,2.0,8.0,260.0,W,14.0,0.0,Low,8.0,0.0,OVC

In [40]:
weather_df["date_time"] = pd.to_datetime(weather_df["valid_time_gmt"], unit='s', utc=True).dt.tz_convert('America/New_York')
weather_df

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds,date_time
0,MCO,1546321980,N,69.0,29.0,2900.0,Partly Cloudy,67.0,69.0,93.0,...,69.0,190.0,S,8.0,0.0,Low,69.0,0.0,SCT,2019-01-01 00:53:00-05:00
1,MCO,1546325580,N,67.0,33.0,3300.0,Fair,65.0,67.0,93.0,...,67.0,200.0,SSW,6.0,0.0,Low,67.0,0.0,FEW,2019-01-01 01:53:00-05:00
2,MCO,1546329180,N,66.0,33.0,3300.0,Fair,64.0,66.0,93.0,...,66.0,210.0,SSW,3.0,0.0,Low,66.0,0.0,FEW,2019-01-01 02:53:00-05:00
3,MCO,1546331160,N,65.0,20.0,2000.0,Fog,64.0,65.0,97.0,...,65.0,190.0,S,3.0,0.0,Low,65.0,0.0,FEW,2019-01-01 03:26:00-05:00
4,MCO,1546331700,N,65.0,33.0,3300.0,Fair,65.0,65.0,100.0,...,65.0,NaN,CALM,0.0,0.0,Low,65.0,0.0,FEW,2019-01-01 03:35:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,SYR,1583032560,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC,2020-02-29 22:16:00-05:00
219927,SYR,1583033280,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,9.0,240.0,WSW,10.0,0.0,Low,9.0,0.0,OVC,2020-02-29 22:28:00-05:00
219928,SYR,1583034840,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC,2020-02-29 22:54:00-05:00
219929,SYR,1583037180,N,21.0,14.0,1601.0,Light Snow,16.0,21.0,81.0,...,10.0,260.0,W,10.0,0.0,Low,10.0,0.0,OVC,2020-02-29 23:33:00-05:00
219930,SYR,1583038440,N,21.0,14.0,1601.0,Light Snow,17.0,21.0,85.0,...,8.0,260.0,W,14.0,0.0,Low,8.0,0.0,OVC,2020-02-29 23:54:00-05:00

In [41]:
weather_df[weather_df["key"]=="ORD"]

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds,date_time
52982,ORD,1546325460,N,34.0,26.0,2600.0,Cloudy,32.0,34.0,92.0,...,27.0,330.0,NNW,8.0,0.0,Low,27.0,0.0,OVC,2019-01-01 01:51:00-05:00
52983,ORD,1546329060,N,33.0,26.0,2600.0,Cloudy,31.0,33.0,92.0,...,25.0,320.0,NW,10.0,0.0,Low,25.0,0.0,OVC,2019-01-01 02:51:00-05:00
52984,ORD,1546330140,N,33.0,26.0,2600.0,Cloudy,31.0,33.0,92.0,...,24.0,320.0,NW,13.0,0.0,Low,24.0,0.0,OVC,2019-01-01 03:09:00-05:00
52985,ORD,1546330620,N,33.0,14.0,1601.0,Light Snow,31.0,33.0,92.0,...,25.0,320.0,NW,9.0,0.0,Low,25.0,0.0,OVC,2019-01-01 03:17:00-05:00
52986,ORD,1546332660,N,32.0,14.0,1601.0,Light Snow,31.0,32.0,96.0,...,26.0,330.0,NNW,7.0,0.0,Low,26.0,0.0,OVC,2019-01-01 03:51:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219843,ORD,1583027460,N,32.0,33.0,3300.0,Fair,16.0,32.0,52.0,...,25.0,170.0,S,8.0,0.0,Low,25.0,0.0,FEW,2020-02-29 20:51:00-05:00
219844,ORD,1583031060,N,31.0,33.0,3300.0,Fair,20.0,31.0,64.0,...,23.0,180.0,S,8.0,0.0,Low,23.0,0.0,FEW,2020-02-29 21:51:00-05:00
219845,ORD,1583034660,N,31.0,33.0,3300.0,Fair,20.0,31.0,64.0,...,23.0,180.0,S,8.0,0.0,Low,23.0,0.0,FEW,2020-02-29 22:51:00-05:00
219846,ORD,1583038260,N,30.0,33.0,3300.0,Fair,20.0,30.0,66.0,...,22.0,180.0,S,8.0,0.0,Low,22.0,0.0,FEW,2020-02-29 23:51:00-05:00
219847,ORD,1583041860,N,30.0,33.0,3300.0,Fair,21.0,30.0,69.0,...,22.0,170.0,S,9.0,0.0,Low,22.0,0.0,FEW,2020-03-01 00:51:00-05:00

In [42]:
weather_df.loc[weather_df["key"]=="ORD", 'date_time'] -= pd.Timedelta(hours=1)

In [43]:
weather_df[weather_df["key"]=="ORD"]

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds,date_time
52982,ORD,1546325460,N,34.0,26.0,2600.0,Cloudy,32.0,34.0,92.0,...,27.0,330.0,NNW,8.0,0.0,Low,27.0,0.0,OVC,2019-01-01 00:51:00-05:00
52983,ORD,1546329060,N,33.0,26.0,2600.0,Cloudy,31.0,33.0,92.0,...,25.0,320.0,NW,10.0,0.0,Low,25.0,0.0,OVC,2019-01-01 01:51:00-05:00
52984,ORD,1546330140,N,33.0,26.0,2600.0,Cloudy,31.0,33.0,92.0,...,24.0,320.0,NW,13.0,0.0,Low,24.0,0.0,OVC,2019-01-01 02:09:00-05:00
52985,ORD,1546330620,N,33.0,14.0,1601.0,Light Snow,31.0,33.0,92.0,...,25.0,320.0,NW,9.0,0.0,Low,25.0,0.0,OVC,2019-01-01 02:17:00-05:00
52986,ORD,1546332660,N,32.0,14.0,1601.0,Light Snow,31.0,32.0,96.0,...,26.0,330.0,NNW,7.0,0.0,Low,26.0,0.0,OVC,2019-01-01 02:51:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219843,ORD,1583027460,N,32.0,33.0,3300.0,Fair,16.0,32.0,52.0,...,25.0,170.0,S,8.0,0.0,Low,25.0,0.0,FEW,2020-02-29 19:51:00-05:00
219844,ORD,1583031060,N,31.0,33.0,3300.0,Fair,20.0,31.0,64.0,...,23.0,180.0,S,8.0,0.0,Low,23.0,0.0,FEW,2020-02-29 20:51:00-05:00
219845,ORD,1583034660,N,31.0,33.0,3300.0,Fair,20.0,31.0,64.0,...,23.0,180.0,S,8.0,0.0,Low,23.0,0.0,FEW,2020-02-29 21:51:00-05:00
219846,ORD,1583038260,N,30.0,33.0,3300.0,Fair,20.0,30.0,66.0,...,22.0,180.0,S,8.0,0.0,Low,22.0,0.0,FEW,2020-02-29 22:51:00-05:00
219847,ORD,1583041860,N,30.0,33.0,3300.0,Fair,21.0,30.0,69.0,...,22.0,170.0,S,9.0,0.0,Low,22.0,0.0,FEW,2020-02-29 23:51:00-05:00

In [44]:
weather_df

,key,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,wx_phrase,dewPt,heat_index,rh,...,wc,wdir,wdir_cardinal,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds,date_time
0,MCO,1546321980,N,69.0,29.0,2900.0,Partly Cloudy,67.0,69.0,93.0,...,69.0,190.0,S,8.0,0.0,Low,69.0,0.0,SCT,2019-01-01 00:53:00-05:00
1,MCO,1546325580,N,67.0,33.0,3300.0,Fair,65.0,67.0,93.0,...,67.0,200.0,SSW,6.0,0.0,Low,67.0,0.0,FEW,2019-01-01 01:53:00-05:00
2,MCO,1546329180,N,66.0,33.0,3300.0,Fair,64.0,66.0,93.0,...,66.0,210.0,SSW,3.0,0.0,Low,66.0,0.0,FEW,2019-01-01 02:53:00-05:00
3,MCO,1546331160,N,65.0,20.0,2000.0,Fog,64.0,65.0,97.0,...,65.0,190.0,S,3.0,0.0,Low,65.0,0.0,FEW,2019-01-01 03:26:00-05:00
4,MCO,1546331700,N,65.0,33.0,3300.0,Fair,65.0,65.0,100.0,...,65.0,NaN,CALM,0.0,0.0,Low,65.0,0.0,FEW,2019-01-01 03:35:00-05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219926,SYR,1583032560,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC,2020-02-29 22:16:00-05:00
219927,SYR,1583033280,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,9.0,240.0,WSW,10.0,0.0,Low,9.0,0.0,OVC,2020-02-29 22:28:00-05:00
219928,SYR,1583034840,N,20.0,14.0,1601.0,Light Snow,16.0,20.0,85.0,...,8.0,250.0,WSW,12.0,0.0,Low,8.0,0.0,OVC,2020-02-29 22:54:00-05:00
219929,SYR,1583037180,N,21.0,14.0,1601.0,Light Snow,16.0,21.0,81.0,...,10.0,260.0,W,10.0,0.0,Low,10.0,0.0,OVC,2020-02-29 23:33:00-05:00
219930,SYR,1583038440,N,21.0,14.0,1601.0,Light Snow,17.0,21.0,85.0,...,8.0,260.0,W,14.0,0.0,Low,8.0,0.0,OVC,2020-02-29 23:54:00-05:00

In [45]:
weather_df.to_csv("./data/modified/weather_mco_ord_jfk_syr_tz.csv", index=False)

# WeatherBit Data

In [64]:
bit_l = []
for loc_code in ["MCO", "ORD", "JFK", "SYR"]:
    bit_w = pd.read_csv(f"./data/weather/{loc_code}_weather_data_sub_hourly.csv")
    bit_w["key"] = loc_code
    bit_l.append(bit_w)

In [68]:
pd.concat(bit_l).reset_index(drop=True).to_csv("./data/modified/weather_bit_jfk_ord_mco_syr.csv", index=False)